body {
  color: #f3f3f3;
  background-color: #0a0a0a;
  background-image: var(--background-url);
  background-attachment: fixed;
  background-size: cover;
}

.toolbar,
.help {
  display: none !important;
}

